@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}