:root {
    --main-color: #2386C7;
    --sec-color: #D8D8D8;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-main-gradient {
    background: rgb(35, 134, 199);
    background: linear-gradient(290deg, rgba(35, 134, 199, 1) 0%, rgba(237, 12, 28, 1) 100%);
}

.text-main {
    color: var(--main-color)
}

/* .text-main:hover {
    color: #523B5D
} */

.btn-main {
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    color: white;
    font-weight: bold;
}

.btn-main:hover {
    background-color: white;
    color: var(--main-color);
}

.btn-outline-main {
    background-color: white;
    border: 3px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
}

.btn-outline-main:hover {
    background-color: var(--main-color);
    color: white;
}

.btn-category {
    border-radius: 10px;
    background-color: var(--sec-color);
    color: grey;
}

.btn-category:hover {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn-category-active {
    border-radius: 10px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn-green {
    background-color: white;
    color: #20C835;
    font-weight: bold;
    border: 4px solid #20C835;
    border-radius: 10px;
}

.btn-green:hover {
    background-color: #20C835;
    color: white;
}

.btn-green-active {
    background-color: #20C835;
    color: white;
    font-weight: bold;
    border: 4px solid #20C835;
    border-radius: 10px;
}

.btn-green-active:hover {
    color: white;
}

.border-main {
    border: 2px solid transparent;
    cursor: pointer;
}

.border-main:hover {
    border: 2px solid #2386C7;
}

.border-main-active {
    cursor: pointer;
    border: 2px solid #2386C7;
}

.border-main-active .btn-category {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.border-main:hover .btn-category {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.shape-wave-top {
    background-position-y: top;
    margin-top: -2px;
    margin-bottom: -100px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url('./images/wavetop.svg');
}

.shape-wave-bottom {
    background-position-y: bottom;
    margin-bottom: -2px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url('./images/wavebottom.svg');
}

.payment-method {
    background-color: white;
    color: black;
}

.payment-method:hover {
    background: #F8F9FA;
    cursor: pointer;
}

.profile-btn {
    background-color: transparent;
    color: #6C757D;
}

.profile-btn:hover {
    background-color: #F6F6F6;
    color: #6C757D;
    cursor: pointer;
}

.profile-btn-active {
    cursor: pointer;
    background-color: #F6F6F6;
}

.react-crop-image img {
    max-width: 100%;
}

.contest-card {
    background-color: white;
}

.contest-card:hover {
    background-color: #F8F9FA;
}