.custom-slick-paginate {
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.custom-slick-paginate-text {
    color: white;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 50px;
}

.custom-slick-paginate-text-2 {
    color: white;
    font-weight: bold;
    margin-left: 40%;
    margin-bottom: 30px;
}

.custom-slick-paginate-button {
    margin-left: 0px;
    margin-top: 10px;
}

.custom-slick-paginate-image {
    height: 300px;
}

@media only screen and (max-width: 1199px) {
    .custom-slick-paginate-text-2 {
	margin-left: 50px;
	margin-top: 100px;
    }
}

@media only screen and (max-width: 991px) {
    .custom-slick-paginate {
        bottom: 20px;
        left: -20px;
    }
    .custom-slick-paginate-text {
        margin-bottom: 0px;
        margin-left: 30px;
        position: relative;
        z-index: 20px;
        bottom: 60px;
    }
    .custom-slick-paginate-parent {
        height: 350px;
    }
    .custom-slick-paginate-text-2 {
	margin-top: 30px;
	margin-bottom: 75px;
    }
}

@media only screen and (max-width: 767px) {
    .custom-slick-paginate-text {
        font-size: 25px;
    }
    .custom-slick-paginate-image {
        height: 250px;
    }
    .custom-slick-paginate-parent {
        height: 280px;
    }
}

@media only screen and (max-width: 575px) {
    .custom-slick-paginate-text {
        font-size: 10px;
        width: 200px;
        bottom: 80px;
    }
    .custom-slick-paginate-image {
        height: 180px;
    }
    .custom-slick-paginate-parent {
        height: 180px;
    }
}

td {
    padding: 40px;
}

.table td {
    padding: 20px 15px;
}

.toggle-table {
    visibility: visible;
}

@media only screen and (max-width: 1200px) {
    .toggle-table {
        visibility: hidden;
    }
}

.modal-content {
    background: unset;
    border: unset;
}

.fade {
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-item {
    margin: 0 0px;
}

.navs span {
    color: white;
    font-weight: bold;
}

.navs .nav-item {
    cursor: pointer;
    margin-top: auto;
}

.navs .nav-item .active {
    font-size: larger;
    padding-bottom: 5px;
    border-bottom: 5px solid white;
}

.navs-main span {
    color: var(--main-color);
    font-weight: bold;
}

.navs-main .nav-item {
    cursor: pointer;
    margin-top: auto;
}

.navs-main .nav-item .active {
    font-size: larger;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--main-color);
}

.pagination {
    border-bottom: 2px solid white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.pagination .previous {
    width: auto;
    width: auto;
    border-radius: 5px;
    padding: 0px 10px;
}

.pagination .next {
    width: auto;
    border-radius: 5px;
    padding: 0px 10px;
}

.pagination li {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.pagination li:hover {
    background-color: var(--main-color);
    color: white;
}

.pagination li a:focus{
    outline: none;
}

.pagination li a{
    margin: auto;
}

.pagination .active {
    background-color: var(--main-color);
    color: white;
}
